#recommended__container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5vh 5%;
  line-height: 27px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: $author;
  font-weight: bold;

  @include sm {
    position: initial;
    width: 100%;
  }
}

.recommended__row {
  display: flex;
  width: 67%;
  margin-left: -200%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: $border;
  margin-bottom: 45px;
  border-radius: 15px;
  background-color: $note;
  box-shadow: $shadow;
  cursor: pointer;
  animation: recommendedSlide 0.75s forwards;
  color: $author;
  transition: color 0.25s, background-color 0.25s, transform 0.25s ease-in-out;
}

.recommended__row:hover {
  background-color: $light;
  transform: scale(1.05);
  border-color: $skylight;
  color: $dark;
}

.recommended__go {
  height: 20px;
  padding: 10px;
  border: $border;
  margin-right: 15px;
  background-color: $bodyColor;
  border-radius: 50%;
  box-shadow: $shadow;
}

.recommended__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0 15px 15px;
}

.recommended__noContent {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  text-decoration: underline;
}
