$shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
$bodyColor: aliceblue;
$leftPanelColor: white;
$rightPanelColor: lightslategray;
$border: 1px solid #303030;
$leftConsoleColor: floralwhite;
$rightConsoleColor: dimgray;
$light: white;
$dark: black;
$active: cornflowerblue;
$author: slategray;
$panelRightScroll: #f0f0f0;
$ghost: #fafafa;
$highlight: red;
$vocabulary: gainsboro;
$note: floralwhite;
$darkNote: antiquewhite;
$skylight: deepskyblue;
